<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Icons font CSS-->
    <link href="{{asset('vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">
    <link href="{{asset('vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{{asset('vendor/select2/select2.min.css" rel="stylesheet')}}" media="all">
    <link href="{{asset('vendor/datepicker/daterangepicker.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{asset('css/create_form.css')}}" rel="stylesheet" media="all">
</head>

{%  block content %}

    <div class="page-wrapper bg-gra-01 p-t-20 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Créer un nouveau site</h2>
                    <!-- Déclaration du form-->
                    <form name="monform" action="{{ path('newSite') }}" method="POST" enctype="multipart/form-data">
                        <!-- Partie gauche -->
                        <div style="float: left;">
                            <div class="input-group">
                                <label>Nom du site :*</label>
                                <input class="input--style-3" type="text" name="Nom_du_site" id="Nom_du_site" value="" required>
                            </div>
                            <div class="input-group">
                                <label>Coordonées Lambert X :*</label>
                                <input type="text" class="input--style-3" name="Lambert_X" id="Lambert_X" value="" required>
                            </div>
                            <div class="input-group">
                                <label>Coordonées Lambert Y :*</label>
                                <input type="text" class="input--style-3" name="Lambert_Y" id="Lambert_Y" value="" required>
                            </div>
                            <div class="input-group">
                                <label>Region :*</label>
                                <input type="text" class="input--style-3" name="Region" id="Region" value="" required>
                            </div>
                            <div class="input-group">
                                <label>Departement :*</label>
                                <input class="input--style-3" type="text" name="Departement" id="Departement" value="" required>
                            </div>
                            <div class="input-group">
                                <label>Commune :*</label>
                                <input class="input--style-3" type="text" name="Commune" id="Commune" value="" required>
                            </div>
                        </div>
                        <!-- Partie droite -->
                        <div style="float: right; margin-left: 50px;">
                            <div class="input-group">
                                <label>Date de début :*</label>
                                <input class="input--style-3 js-datepicker" type="text" name="Date_debut" id="Date_debut" value="" required>
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                            </div>
                            <div class="input-group">
                                <label>Date de fin :*</label>
                                <input class="input--style-3 js-datepicker" type="text" name="Date_fin" id="Date_fin" value="" required>
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                            </div>
                            <div class="input-group">
                                <label>Type d'intervention :*</label>
                                <input class="input--style-3" type="text" name="Type_intervention" id="Type_intervention" value="" required>
                            </div>
                            <div class="input-group">
                                <label>Thèmes :</label>
                                <input class="input--style-3" type="text"name="Themes" id="Themes" value="" >
                            </div>
                            <div class="p-t-10">
                                <button class="btn btn-outline-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="../../vendor/select2/select2.min.js"></script>
    <script src="../../vendor/datepicker/moment.min.js"></script>
    <script src="../../vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="{{asset('js/create_form.js')}}"></script>

{%  endblock  %}